<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center">Film Generator</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus ea modi suscipit corporis tenetur vero natus minus nesciunt laboriosam dicta eligendi aliquam, omnis a illo repellendus est, sapiente impedit non!</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <a routerLink="/generatorPage">
        <button class="btn btn-primary">Start!</button>
      </a>
    </div>
  </div>
</div>
